# dependencies
/node_modules

# Next.js
/.next
/out

# builds
/build

# Vercel
.vercel

# env files
.env*
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs
npm-debug.log*
pnpm-debug.log*

# macOS
.DS_Store

# IDEs
.vscode
.idea
