@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --primary: #111110;
  --secondary: #272727;
  --emerald: #6ee7b7;
  --gray: #b3b3b3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111110;
    --primary: #ededed;
    --secondary: #b3b3b3;
    --gray: #272727;
  }
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: var(--font-inter);
}
